@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  .bg-gradient {
    background: rgb(155, 181, 240);
    background: linear-gradient(156deg, rgba(155, 181, 240, 1) 0%, rgba(120, 167, 230, 1) 25%, rgba(255, 255, 255, 1) 100%);
    z-index: -1;
  }
  .floating-img {
        animation: float ease-in-out 2000ms infinite;
    }
    @keyframes float {
        0% {
            margin-top: 0;
        }
        50% {
            margin-top: 1rem;
        }
        100% {
            margin-top: 0%;
        }
    }
}
